@font-face {
  font-family: "iconfont"; /* Project id 4018356 */
  src: url('https://at.alicdn.com/t/c/font_2774082_tulemwf416l.css') format('truetype');
}
/*@font-face {*/
/*  font-family: "iconfont";*/
/*  src:*/
/*  url('./iconfont.ttf') format('truetype');*/
/*}*/

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.-blog:before {
  content: "\e68b";
}

.pause:before {
  content: "\e609";
}

.zhifubao:before {
  content: "\e607";
}

.weixin:before {
  content: "\e608";
}

.qudao-ximalaya:before {
  content: "\e792";
}

.shanchu:before {
  content: "\e61c";
}

.VIP:before {
  content: "\e688";
}

.shoufeiguanli:before {
  content: "\e603";
}

.xiazai:before {
  content: "\e634";
}

.wanjie:before {
  content: "\e62f";
}

.shoucang1:before {
  content: "\e600";
}

.shoucang:before {
  content: "\e627";
}

.dingyue:before {
  content: "\e63f";
}

.shichang:before {
  content: "\e659";
}

.pinglun:before {
  content: "\e891";
}

.gouwuche3:before {
  content: "\e70b";
}

.erji:before {
  content: "\e654";
}

.shengyin_o:before {
  content: "\eb62";
}

.xingxing:before {
  content: "\e859";
}

